
<div *ngIf="!loading" class="container">
    <h2> Users List</h2>
   
    <div  fxLayout="row wrap" fxLayoutGap="50px grid" >
        <div *ngFor="let user of filterService.filteredUsers">
            <mat-card class="user-card">
               
                <img mat-card-image src={{user.avatar}}>
                <mat-card-title>Name: {{user.first_name}} {{user.last_name}}</mat-card-title>
                <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
                <mat-card-actions style="margin: auto;">
                    <button mat-flat-button color="primary" [routerLink]="['/users', user.id]">View Details</button>
                </mat-card-actions>
                <mat-card-content>
                  
                </mat-card-content>
               
              </mat-card></div>
        
    </div>
</div>
<div *ngIf="loading" style="margin: 10% 50%;">
    <app-spinner></app-spinner>
   </div>    